.discoveryWrap {
    display: grid;

    grid-template-columns: 22rem auto;
    grid-template-rows: 2fr 8fr
}

.filterWrap {
    grid-row: 1 / span 2;
    max-width: 19rem;
    margin-left: 1.5rem;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.dropdown {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    width: 100%;
    font-family: Montserrat-semiBold;
}


.dropdownActive {
    border: solid 3px var(--durfGreen);
    border-radius: .8rem;
}

.filter__options, .headFilter__subtitle {
    font-size: 1.6rem;
    font-family: Montserrat-semiBold;
    color: #01081F;
    user-select: none; 
}

.filter__options dt {
    color: #767676;
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
}

.filter__options dd, .headFilter__subtitle{
    padding: 1rem 0;
    cursor: pointer;
    display: flex;
    align-items:center;
}

.filter__options dd img, .headFilter__subtitle img{
    padding-right: .5rem;
}

.headFilter__subtitle {
    cursor: default;
}


.active{
   color: var(--durfGreen)
}

.headFilter {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-right: 10rem;
}

.headFilter__title {
    font-family: Montserrat_black;
    font-size: 4rem;
    color: var(--durfGreen)
}

.headFilter__filter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 6fr;
    justify-content: center;
    align-items: center;
}

.headFilter__filter__decoration {
    grid-row: 1 / span 2;
}

.headFilter__filter__input {
    border: none;
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    font-size: 1.6rem;
    padding: 1.8rem 1rem 1.5rem;
}

.headFilter__filter__inputWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 40rem;
    background-color: #EEEEEE;
    border-bottom: solid 3px black;
}

.headFilter__filter__inputWrap img {
    margin-left: 1.5rem;
}

.headFilter__filter__options {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    font-size: 1.6rem;
}

.headFilter__filter__options p {
    margin-right: 3rem;
    cursor: pointer;
}

.searchActive {
    color: var(--durfGreen);
    border-bottom: solid 3px var(--durfGreen);
    padding-bottom: 1rem;
    font-family: Montserrat-semiBold;
}