.projectDetail {
  background: url('/assets/uiElementen/ellipseYellowDetail.svg');
  background-repeat: no-repeat;
  background-position: -5rem 115%;
}

.projectDetail__head {
  width: 85vw;
  margin: auto;
}

.breadcrumb {
  width: 85vw;
  margin: auto;
  margin-bottom: 2.5rem;
}

.breadcrumb__content,
.breadcrumb__content__link {
  font-size: var(--fontRegular);
  color: var(--durfGreenDarker);
  text-transform: uppercase;
  font-weight: var(--weightBlack);
}

.projectDetail__head {
  display: flex;
}

.projectDetail__head__box {
  width: 50%;
}

.projectDetail__head__box:nth-child(1) {
  padding-right: 1.25rem;
}

.projectDetail__head__box:nth-child(2) {
  padding-left: 5rem;
}

.projectDetail__head__image {
  margin-bottom: 2.5rem;
  width: 100%;
  height: auto;
}

.head__information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.information__title {
  font-family: "Roboto Mono";
  text-transform: uppercase;
  font-size: var(--fontSmall);
  color: #aaaaaa;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}

.information__content {
  font-size: var(--fontMedium);
  display: flex;
  align-items: center;
}

.information__content__icon {
  margin-right: 1.5rem;
}

.tags {
  display: flex;
  margin-top: 2.5rem;
  flex-flow: wrap;
}

.tag {
  font-size: 1.8rem;
  
  font-weight: 200;
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}

.tag__color {
  width: 2rem;
  height: 2rem;
  border-radius: 50rem;
  margin-right: 1rem;
  display: inline-block;
  background-color: var(--dark);
}

.line {
  width: 100%;
  position: relative;
  height: 0.5rem;
  border: none;
}

.line::before {
  background: linear-gradient(
    to right,
    var(--durfYellow) 25%,
    var(--durfGreen) 25%,
    var(--durfGreen) 75%,
    var(--durfRed) 75%
  );
  position: absolute;
  content: "";
  height: 1rem;
  right: 0;
  left: 0;
  top: 0;
}

.projectDetail__title {
  font-size: 6.4rem;
  font-family: "Montserrat-Bold";
  margin-bottom: 2.5rem;
}

.head__collaborators {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.collaborators__others,
.profilePicture,
.profilePicture__hoofd {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
}

.collaborators__others {
  background-color: var(--lightGrey);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--weightSemiBold);
  font-size: 1.2rem;
}

.profilePicture {
  transform: translateX(-1rem);
}

.profilePicture__hoofd__container {
  position: relative;
  transform: translateX(-2rem);
}

.profilePicture__hoofd__container--alone {
  position: relative;
  transform: translateX(0rem);
}
.profilePicture__hoofd__level {
  position: absolute;
  bottom: -0.75rem;
  right: -0.75rem;
  width: 2.25rem;
  height: 2.25rem;
  color: white;
  border-radius: 5rem;
  background-color: var(--durfGreenDarker);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--weightSemiBold);
  font-size: 1.2rem;
  padding-top: 0.125rem;
  padding-left: 0.125rem;
}

.collaborateurs {
  font-size: 1.6rem;
  font-weight: var(--weightSemiBold);
}

.receivedMoney__container {
  margin-bottom: 2.5rem;
}

.description {
  font-size: var(--fontRegular);
  line-height: 1.5;
  
  font-weight: 200;
  margin-bottom: 2.5rem;
}

.shareContainer {
  display: flex;
  margin-bottom: 2.5rem;
}

.shareContainer__link {
  margin-right: 1.5rem;
}

.votingTitle {
  font-weight: var(--weightSemiBold);
  font-size: var(--fontMedium);
  margin-bottom: 2.5rem;
}

.votingButtons__container {
  display: flex;
}

.votingButtons, .answerButtons, .volunteerButton {
  padding: 1.5rem 2.5rem;
  background-color: transparent;
  font-weight: var(--weightSemiBold);
  font-size: var(--fontMedium);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
}

.votingButtons__primary {
  margin-right: 2.5rem;
  border: 0.25rem solid var(--durfGreenDarker);
  color: white;
  background-color: var(--durfGreenDarker);
  transition: 0.25s;
  position: relative;
}

.votingButtons__primary:hover {
  background-color: transparent;
  color: var(--durfGreenDarker);
  transform: scale(0.95);
  position: relative;
}

.votingButtons__primary:hover::after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
  background: url("/assets/icons/love-greenInvert.svg");
}

.votingButtons__secondary {
  border: 0.25rem solid var(--durfRed);
  color: var(--durfRed);
  transition: 0.25s;
  position: relative;
}

.votingButtons__secondary:hover {
  color: white;
  background-color: var(--durfRed);
  transform: scale(0.95);
}

.votingButtons__secondary:hover::after {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 1.8rem;
  left: 2.5rem;
  background: url("/assets/icons/dislike-invertWhite.svg");
}

.votingButtons:hover {
  cursor: pointer;
}

.votingButtons__icons {
  margin-right: 1.5rem;
}

.fundingButtons__primary {
  margin-right: 2.5rem;
  border: 0.25rem solid var(--durfGreenDarker);
  color: white;
  background-color: var(--durfGreenDarker);
  transition: 0.25s;
  position: relative;
}

.fundingButtons__primary:hover {
  background-color: transparent;
  color: var(--durfGreenDarker);
  transform: scale(0.95);
  position: relative;
}

.fundingButtons__secondary {
  border: 0.25rem solid var(--dark);
  color: var(--dark);
  transition: 0.25s;
  position: relative;
}

.fundingButtons__secondary:hover {
  color: white;
  background-color: var(--dark);
  transform: scale(0.95);
}

.receivedMoney__progressBar {
  height: 2rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  width: 100%;
}
.receivedMoney__progressBar[value]::-webkit-progress-bar {
  background-color: var(--background);
  border-radius: 4rem;
}

.receivedMoney__progressBar[value]::-webkit-progress-value {
  border-radius: 4rem;
  background-color: var(--durfGreen);
}

.receivedMoney__text {
  margin-bottom: 0.5rem;
  font-size: var(--fontRegular);
  font-weight: var(--weightSemiBold);
}

.receivedMoney__text__big {
  color: var(--durfGreen);
  font-size: 4.8rem;
  font-family: "Montserrat-dark";
  margin-right: 1rem;
}

.images__container {
  margin-bottom: 5rem;
}

.images__box {
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding: 5rem 0;
  padding-left: 7.5vw;
}

.image {
  margin-right: 2.5rem;
  transition: 0.5s;
  width: 75%;
  height: auto;
}

.image:hover {
  transform: scale(1.15);
  z-index: 2;
}

.tabs {
  margin-bottom: 5rem;
  display: flex;
}

.questions {
  background-color: var(--durfGreenDarker);
  padding: 10rem 0;
  position: relative;
  margin-bottom: 5rem;
}

.questions::before{
  background: linear-gradient(
    to right,
    var(--durfYellow) 25%,
    var(--durfGreen) 25%,
    var(--durfGreen) 75%,
    var(--durfRed) 75%
  );
  position: absolute;
  content: "";
  height: 1rem;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.questionsContainer {
  width: 85vw;
  margin: auto;
  color: white;
}

.questionsTitle {
  font-weight: var(--weightBlack);
  font-size: 3.6rem;
  margin-bottom: 2.5rem;

}

.questionsInleiding {
  
  font-weight: 200;
  width: 50ch;
  line-height: 1.5;
}

.questionsContainer__box {
  padding-top: 5rem;
  width: 50vw;
  margin: auto;
}

.questionsSubtitle {
  font-weight: var(--weightSemiBold);
  font-size: var(--fontRegular);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.questionsContainer__yesno, .questionsContainer__multipleChoice, .questionsContainer__volunteer, .questionsContainer__discussion {
  margin-bottom: 5rem;
}

.yesno__container, .yesno__answers {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.yesno__question {
  font-family: "Montserrat-bold";
  font-size: 2.4rem;
  line-height: 1.25;
}

.yesno__answers {
  margin-left: 2.5rem;
}

.answerButtons {
  background-color: white;
  border: .25rem solid;
  transition: .25s;
}

.answerButtons:hover {
  transform: scale(.95);
  cursor: pointer;
}

.answerButtons__primary{
  margin-right: 2.5rem;
}

.answerButtons__icons {
  margin-right: 1.5rem;
}

.answerButtons__primary {
  border-color: var(--durfGreen);
  color: var(--durfGreen);
}

.answerButtons__secondary {
  border-color: var(--durfRed);
  color: var(--durfRed);
}

.reacties {
  width: 85vw;
  margin: auto;
  padding-bottom: 10rem;
}

.reactiesContainer {
  width: 56vw;
  margin: auto;
  margin-bottom: 5rem;
}

.reactiesTitle {
  font-weight: var(--weightBlack);
  font-size: 3.6rem;
  margin-bottom: 5rem;
}

.reactiePerson, .reactiePerson__box {
  display: flex;
  align-items: center;
}

.reactiePerson {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.reactiePerson__image {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
  border-radius: 5rem;
}

.information__owner {
  padding: 1rem 1rem;
  color: white;
  background-color: var(--durfGreenDarker);
  border-radius: 5rem;
  margin-right: 1.5rem;
}

.reactiePerson__information {
  margin-right: 1.5rem;
}

.information__name {
  font-size: var(--fontSmall);
  font-weight: var(--weightSemiBold);
  line-height: 1.5;
  text-transform: capitalize;
}

.information__timepast {
  color: grey;
  
  font-weight: 200;
  font-size: 1rem;

}

.information__level {
  font-family: "Roboto Mono";
  font-size: 1.2rem;
  text-transform: uppercase;
}

.reactiePerson__rapport {
  justify-self: flex-end;
  color: grey;
  font-size: var(--fontSmall);
  font-family: "Roboto Mono";
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.reactiePerson__rapport:hover {
  cursor: pointer;
}

.reactiePerson__rapport__icon {
  margin-left: .5rem;

}

.reactie__text {
  line-height: 1.5;
}

.extraQuestion {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.extraQuestion__title {
  font-weight: var(--weightSemiBold);
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.extraQuestion__buttons {
  display: flex;

}

.extraQuestion__buttons:nth-child(1) {
  margin-right: 1.125rem;  
}

.extraQuestion__buttons:nth-child(2) {
  margin-left: 1.125rem;  
}

.multipleChoice__form, .form__select {
  width: 100%;
}

.form__select__input {
  opacity: 0;
}

.form__select__content {
  background-color: white;
  border-radius: .5rem;
  padding: 1rem;
  color: var(--dark);

}

.form__select__input:checked + p{
  border: .5rem solid var(--durfGreen );
} 

.questionsContainer__discussion__link {
  color: var(--durfYellow);
  font-family: "Montserrat";
  font-weight: var(--weightSemiBold);
  display: block;
  margin-top: 1.5rem;

}

.volunteerButton {
  margin-top: 1.5rem;
  background-color: white;
  border: .25rem solid;
  transition: .25s;
  border: none;
  color: var(--durfGreenDarker);
}

.volunteerButton:hover {
  transform: scale(.95);
  cursor: pointer;
}

.loadingScreen {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.detail {
  font-size: .8rem;
  margin-top: -4rem;
}

.reactieInputLabel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reactieInput {
  width: 80%;
  border: none;
  border-bottom: solid 3px black;
  height: 4rem;
  font-size: 1.8rem;
  padding-bottom: 0rem;
}

.reactieButton {
  background-color: var(--durfGreen);
  padding: 1.5rem 1rem;
  font-weight: var(--weightBlack);
  border-radius: .5rem;
  color: white;
  cursor: pointer;
}

.participationItem {
  font-size: 1.6rem;
}

.participationItem span{
  font-weight: var(--weightSemiBold);
}

.requirementsSignup {
  margin-top: 4rem;
}