
.green {
    font-size: 2.2rem;
    color: greenyellow;
}

.red {
    color: red;
}

.formContainer {
    padding: 5rem 0;
    width: 48rem;
    margin: auto;
    position: relative;
}

.formContainer::before {
    content: '';
    position: absolute;
    top: 6rem;
    left: -15rem;
    width: 65.7rem;
    height: 23.6rem;
    background: url(/assets/uiELementen/registerTop.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.formContainer::after {
    content: '';
    position: absolute;
    width: 11.7rem;
    height: 11.7rem;
    top: 57.5rem;
    bottom: 0px;
    left: -10rem;
    z-index: -1;
    border: 1.5rem solid var(--durfGreen);
    border-radius: 51rem;
}
 
.form {
    padding: 5rem 2.5rem;
    margin: 3rem;
    border: solid 1px black;
    display: flex;
    flex-flow: column;
    width: 46.2rem;
    border-radius: 1rem 1rem 1rem 0;
    background: var(--cardGrey);
    border: none;
    margin: 5rem auto;
    box-shadow: var(--cardShadow);
    position: relative;
}

.form::before {
    content: '';
    width: 5rem;
    height: 85%;
    background-color: var(--lightGrey);
    position: absolute;
    border-radius: 0 0 0 1rem;
    left: -5rem;
    bottom: 0;
    box-shadow: var(--cardShadow);
}

.form::after {
    content: '';
    width: 7.5rem;
    height: 7.5rem;
    background-color: red;
    position: absolute;
    border-radius: 1rem;
    right: -3.25rem;
    bottom: -3.25rem;
    z-index: -1;
}


.testObject {
    max-width: 400px;
    border-radius: 500px;
    margin: auto;
}

.negative {
    color:rgb(211, 0, 0);
}

.formTitle {
    font-size: 3.2rem;
    font-weight: var(--weightBlack);
    text-align: center;
    margin-bottom: 2.5rem;
}

.label {
    display: flex;
    flex-flow: column;
    font-size: var(--fontMedium);
    font-weight: var(--weightSemiBold);
    justify-content: flex-end;
    line-height: 1.5rem;

}

.label__checkbox {
    flex-flow: row-reverse;
}

.input {
    border: none;
    border-bottom: .25rem solid black;
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
    font-size: var(--fontNormal);
    
    font-weight: 200;

}

.input:focus, .input:active {
    background-color: var(--lightGrey);
    border-bottom: .25rem solid black;
}

.input__checkbox {
    margin-top: 0.25rem;
    margin-right: 1.25rem;
}

.input__textfield {
    resize: vertical;
    /* border: .15rem solid var(--lightGrey); */
    border-top: none;
    border-left: .15rem solid black;
    border-right: .15rem solid black;
    border-bottom: .25rem solid black;
    padding: 1.5rem;
    /* background-color: var(--lightGrey); */
}


.label__image__container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.input__image {
    border: none;
    margin-bottom: 1.5rem;
    font-weight: auto;
    
    font-weight: 500;
}

.input__image[type=file]::-webkit-file-upload-button {
    border: .25rem solid var(--durfGreenDarker);
    color: var(--durfGreenDarker);
    padding: .5rem 1rem;
    background: transparent;
    font-weight: var(--weightSemiBold);
    border-radius: .5rem;
    transition: .15s;
}

.input__image[type=file]::-webkit-file-upload-button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.confirmButton{
    border-radius: .5rem;
    border:none;
    color: white;
    background-color: var(--durfGreenDarker);
    padding: 1.5rem 0;
    transition: .25s;
    border: .5rem solid var(--durfGreenDarker);
    font-size: 1.6rem;
}

.confirmButton:hover {
    cursor: pointer;
    border: .5rem solid var(--durfGreenDarker);
    background: transparent;
    color: var(--durfGreenDarker);
    padding: 1.5rem 0;
}