.wrap {
    height: 70vh;
    min-height: 60rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap::after {
    content: '';
    width: 61rem;
    height: 61rem;
    background: url('/assets/uiElementen/ellipseYellowDetail.svg');
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30rem;
    left: -30rem;
    z-index: -1;
}

.wrap::before {
    content: '';
    position: absolute;
    width: 21rem;
    height: 30rem;
    background-image: url('/assets/uiElementen/stepSixCenterElement.svg');
    background-repeat: no-repeat;
    background-position: center;
    top: 15%;
    right: -15.75vw;
}

.uploadWrap {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
}

.uploadWrap__info {
    font-weight: var(--weightSemiBold);
}

.textBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 5rem;
}

.textBlock__successIcon {
    font-size: 14rem;

    background-color: var(--durfGreen);
    padding: 10rem;
    display: flex;
    border-radius: 50rem;

    height: 30rem;
    width: 30rem;
}

.text__wrap {
    max-width: 70rem;
    margin-top: 5rem;
}

.textBlock__text {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.errorHref {
    color: var(--durfGreen);
    text-decoration: underline;

}

.button {

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Montserrat";
  font-size: var(--fontRegular);
  font-weight: var(--weightSemiBold);
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;

  color: var(--light);
  background: var(--durfGreenDarker);
  border-radius: 0.4rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  transition: all 0.25s;
}

.textBlock__detail {
    font-size: 1.4rem;
    margin-top: -1.5rem;
}