.wrap::after {
    content: '';
    width: 15rem;
    height: 15rem;
    border: 2rem solid var(--durfRed);
    background-color: var(--durfRed);
    position: absolute;
    left: -17.5vw;
    bottom: -2.5vw;
    border-radius: 50rem;
    z-index: -1;
}

.wrap::before {
    content: '';
    position: absolute;
    width: 21rem;
    height: 21.4rem;
    background-image: url('/assets/uiElementen/stepFiveCenterElement.svg');
    background-repeat: no-repeat;
    background-position: center;
    top: 15%;
    right: -15.75vw;
}

.articleWrap {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.subtitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2rem;

    color: var(--black);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.buttons {
    padding: 1.4rem 2.5rem;
    font-size: 2rem;
    font-weight: var(--weightBlack);
    background-color: var(--durfGreen);
    color: var(--light);
    
    display: inline-block;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    width: auto;
}


.bottonLarge {
    width: 25rem;
    height: 8rem;
    margin-right: 2.5rem;

    background-color: var(--durfGreen);
    color: white;
    border-radius: 1rem;

    font-weight: var(--weightBlack);
    font-weight: 900;
    font-size: 2.8rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.articleWrapRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.articleWrapRow h2{
    width: 100%;
}

.red {
    background: var(--durfRed) !important;
}

.notSelected {
    background-color: #c7c7c7 !important;
}

.errorOverride {
    width: 100%;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem
}

.deadlineInput {
    margin-left: 2rem;
    height: 4.8rem;
    font-size: 1.8rem;
    border: solid 3px var(--durfGreen);
    padding: 2rem 1rem;
    width: 18rem;
    border-radius: .5rem;
}