.container {
  margin: 0 auto;
  height: 100%;
  /* max-width: 96rem; */
}

.title {
  font-size: var(--fontSmall);
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  /* font-weight: var(--weightSemiBold); */
  text-align: center;
  margin: 0 0 2.5rem 0;
}
