.container {
  margin: 0 auto;
  height: 100%;
  /* max-width: 96rem; */
}

.title {
  font-size: var(--fontRegular);
  font-weight: var(--weightSemiBold);
  text-align: center;
  margin: 1rem 0 3rem 0;
}
