.currentQuestionTitle {
  font-weight: var(--weightSemiBold);
  color: var(--durfBlue);
}

.stepQuestionContainer {
  margin: 4rem auto;
  max-width: 96rem;
}

.quizStepButtons {
  margin: 1rem auto 3rem auto;
  max-width: 96rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skipButton {
  appearance: none;
  border: 0;
  background: none;
  padding: 1.5rem;
  color: #767676;
  cursor: pointer;
  font-weight: var(--weightSemiBold);
  font-size: var(--fontRegular);
}

.skipButton:hover {
  color: var(--durfBlue);
}
