@import "../globalStyles/main.module.css";

.homeMain {
  font-weight: 300;
}

.section {
  margin: 2rem 0;
  padding: 2rem 0;
}

.container {
  max-width: 120.4rem;
  margin: 2rem auto;
}

.sectionContainer {
  display: flex;
  max-width: 120.4rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.introTitle {
  font-size: 7.2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: var(--weightBlack);
}

.introTitleHighlight {
  color: var(--dark);
  background: var(--durfYellow);
  border-radius: 0.8rem;
  padding: 0 0.4rem;
}

.introParagraph {
  padding-top: 3rem;
  font-weight: 300;
  line-height: 1.5;
}

.introTitle {
  color: var(--durfGreenDarker);
}

.introTextContainer {
  padding: 2rem;
  flex: 1 1 auto;
  min-width: 50%;
  padding-right: calc(2vw + 2rem);
}

.introText {
  max-width: 50ch;
}

.introButton {
  margin-top: 3rem;
}

.introButton + .introButton {
  margin-left: 1rem;
}

.introProjectCard {
  padding: 2rem;
  width: 100%;
  flex: 1;
  min-width: 45rem;
  max-width: 50%;
  position: relative;
}

.introProjectCard::after {
  content: "";
  width: 6rem;
  height: 6rem;
  background-color: var(--durfRed);
  position: absolute;
  border-radius: 0.5rem;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.introProjectCard::before {
  content: "";
  width: 6rem;
  height: 20rem;
  background-color: var(--lightGrey);
  position: absolute;
  border-radius: 0.5rem;
  top: calc(50% - 10rem);
  left: -2rem;
  z-index: -1;
}

.how {
  position: relative;
  background: var(--background);
  border-bottom: var(--durfRed) solid 1rem;
  /* border-bottom: solid var(--durfRed) 1rem;
  border-top: solid
    linear-gradient(
      to right,
      var(--durfYellow) 25%,
      var(--durfGreen) 25%,
      var(--durfGreen) 75%,
      var(--durfRed) 75%
    )
    1rem; */
}

.how::before {
  content: "";
  width: 12rem;
  height: 12rem;
  background-color: var(--durfGreen);
  position: absolute;
  border-radius: 50%;
  top: -3rem;
  left: calc(50% - 3rem);
  z-index: -1;
}

.how::after {
  background: linear-gradient(
    to right,
    var(--durfYellow) 25%,
    var(--durfGreen) 25%,
    var(--durfGreen) 75%,
    var(--durfRed) 75%
  );
  position: absolute;
  content: "";
  height: 1rem;
  right: 0;
  left: 0;
  top: 0;
}

.howTitle {
  padding-left: 1rem;
  margin-top: 8rem;
  font-weight: var(--weightBlack);
  font-size: var(--fontUltra);
  color: var(--durfRed);
}

.howTitleHighlight {
  background: white;
  /* padding: 2rem 1rem;
  border-radius: 1rem;
  border-bottom-right-radius: 4rem; */

  padding: 2rem 4rem 2rem 0rem;
  border-radius: 1rem;
  border-bottom-right-radius: 8rem;
}

.howSections {
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.howSection {
  flex: 1 1;
  line-height: 1.5;
  display: flex;
  flex-flow: column nowrap;
}

.howSectionImg {
  order: -1;
  margin-bottom: -4rem;
  z-index: 1;
  margin-left: 2rem;
}

.howSectionTextContainer {
  border-radius: 1rem;
  padding: 3rem 1.5rem 3rem 1.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.howSection:hover .howSectionTextContainer {
  background: var(--durfRed);
  color: white;
}

.howSection + .howSection {
  margin-left: 1rem;
}

.howSectionTitle {
  font-weight: var(--weightSemiBold);
  padding: 4rem 0 2rem 0;
}

.pillars {
  display: flex;
  flex-flow: row-reverse;
  gap: 2rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  position: relative;
  padding: 1rem;
}

.pillarsHeader {
  flex: 2;
  margin: 2rem auto 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.pillarsTitle {
  font-weight: var(--weightBlack);
  font-size: var(--fontUltra);
  line-height: 0.9;
  margin: 2rem;
}

.pillarsTitleSpan {
  font-size: calc(72px + 10vw);
  display: inline-block;
  color: var(--durfGreen);
  text-shadow: -0.4rem 0rem var(--dark);
}

.pillarsSections {
  flex: 3;
  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem 2rem;
}

.pillarsSection {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.pillarsSectionImage {
  order: -1;
  margin-top: 2rem;
}

.pillarsSectionTitle {
  padding: 4rem 0 2rem 0;
  font-weight: var(--weightBlack);
}

.pillarSectionParagraph {
  line-height: 1.4;
  margin-bottom: 2rem;
}

.pillarsSection:nth-child(1) {
  background: var(--durfGreenDarker);
  color: white;
}

.pillarsSection:nth-child(2) {
  background: var(--durfYellow);
}

.pillarsSection:nth-child(3) {
  background: var(--durfRed);
  color: white;
}

.pillarsSection:nth-child(4) {
  background: var(--durfBlue);
  color: white;
}

.highlights {
  max-width: 96rem;
  margin: 4rem auto;
}

.highlightsTitle {
  font-weight: var(--weightBlack);
  font-size: var(--fontUltra);
  margin: 3rem 0;
}

.highlightsTitleHighlight {
  color: var(--durfGreen);
}

.highlightsCards {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  gap: 2.5rem 4rem;
}

.highlightsCardBig {
  grid-row: 1 / span 2;
  /* call */
}

.callToAction {
  display: flex;
  flex-flow: row-reverse;
  gap: calc(4rem + 4vw);
  justify-content: space-around;
  margin-bottom: 8rem;
  margin-top: 4rem;
  position: relative;
}

.callToAction::before {
  max-height: 100rem;
  content: "";
  width: 35vw;
  height: 35vw;
  border-color: var(--durfRed);
  border-width: 8rem;
  border-style: solid;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: -20vw;
  z-index: -1;
}

.callToActionTitle {
  font-weight: var(--weightBlack);
  font-size: var(--fontBig);
}

.callToActionText {
  margin: auto;
  flex-flow: column;
  justify-content: space-evenly;
}

.callToActionParagraph {
  margin-top: 3rem;
  line-height: 1.4;
  max-width: 50ch;
}

@media only screen and (max-width: 1036px) {
  .introTextContainer {
    flex: none;
    min-width: auto;
    margin: 0 auto;
  }

  .introProjectCard {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 850px) {
  .how,
  .highlights,
  .pillars {
    padding: 1rem;
  }

  .howSections {
    flex-flow: row wrap;
  }
  .howSection {
    min-width: 25rem;
    margin-bottom: 3rem;
  }

  .pillars {
    margin-top: 0.5rem;
    flex-flow: column;
  }

  .pillarsHeader {
    margin-bottom: 2rem;
  }

  .callToAction {
    padding: 1rem;
    flex-flow: column-reverse;
    align-items: center;
  }

  .callToAction::before {
    border-width: 4rem;
  }

  .highlightsCards {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .pillarsSections {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem 2rem;
  }

  .howTitleHighlight {
    padding: 0;
  }

  .callToAction::before {
    border-width: 4rem;
    width: 30rem;
    height: 30rem;
    left: -8rem;
  }

  .introProjectCard {
    min-width: 100%;
  }
}
