.mainButton,
.previousButton,
.altButton {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  font-size: var(--fontRegular);
  font-family: var(--weightSemiboldFont);
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;

  color: var(--light);
  background: var(--durfGreenDarker);
  border-radius: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.mainButton {
  border: solid 0.2rem var(--durfGreenDarker);
}

.previousButton {
  background-color: var(--light);
  color: var(--durfGreenDarker);
  border: solid 0.2rem var(--durfGreen);
  /* padding: 1rem 1.7rem; */
  margin-right: 1rem;
}

.altButton {
  background-color: var(--light);
  color: var(--durfGreenDarker);
  border: solid 0.2rem var(--durfGreen);
  cursor: pointer;
}

.mainButton:hover {
  background: var(--durfGreen);
  border: solid 0.2rem var(--durfGreen);
}

.previousButton:hover,
.altButton:hover {
  background: var(--lightGrey);
}

.disabledButton {
  opacity: 0.2;
  cursor: not-allowed;
}
