.mainButton,
.previousButton,
.altButton,
.linkButton {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Montserrat";
  font-size: var(--fontRegular);
  font-weight: var(--weightSemiBold);
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;

  color: var(--light);
  background: var(--durfGreenDarker);
  border-radius: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: all 0.25s;
}

.mainButton {
  border: solid 0.2rem var(--durfGreenDarker);
}

.previousButton {
  background-color: var(--light);
  color: var(--durfGreenDarker);
  border: solid 0.2rem var(--durfGreen);
  /* padding: 1rem 1.7rem; */
  margin-right: 1rem;
}

.altButton {
  background-color: var(--light);
  color: var(--durfGreenDarker);
  border: solid 0.2rem var(--durfGreen);
  cursor: pointer;
}

.mainButton:hover {
  background: var(--durfGreen);
  border: solid 0.2rem var(--durfGreen);
  transform: scale(.95);
}

.previousButton:hover,
.altButton:hover {
  background: var(--lightGrey);
  transform: scale(.95);
}

.linkButton {
  color: var(--durfGreenDarker);
  background: none;
  margin: 0.5rem 0;
}

.linkButton::after {
  content: "";
  height: var(--fontRegular);
  width: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/icons/right-arrow.svg");
}

.disabledButton {
  opacity: 0.2;
  cursor: not-allowed;
}


.Vriendengroepvrienden,
.Familie,
.Gezin,
.Koppel,
.Sociaal{
  background-color: #230E7D
}

.LGTBQIA, .Godsdienst,
.Diversiteit {
background-color: #F4812E;
}

.Theater, .Dans, .Spelen, .Knutselen, .Ontspanning, .Muziek, .Sport, .Actief,
.Kind {
background-color: #FFED00;
}

.Dieren,
.Natuur,
.Landbouw,
.Gezondheid,
.Milieu,
.Educatie{
background-color: #54BBAB;
}

.Architectuur,
.Fotografie,
.Mode{
background-color: #01081F;
}

.Eten,
.Drinken {
background-color: #E62336;
}

.Commercieel,
.winkels,
.Technologie,
.Economie,
.Ambacht {
  background-color: #D02C75;
}