:root {
  --durfRed: #e62336;
  --durfGreen: #54bbab;
  --durfGreenDarker: #23998b;
  --durfYellow: #ffed00;
  --durfOrange: #f4812e;
  --durfBlue: #01081f;
  --background: #eeeeee;
  --cardGrey: #fcfcfc;
  --lightGrey: #eeeeee;
  --light: #ffffff;
  --dark: #000000;

  --smallShadow: 0 0.2rem rgba(0, 0, 0, 0.15);
  --cardShadow: 0 0.45rem rgba(0, 0, 0, 0.15);
  --tagShadow: 0 0.35rem rgba(0, 0, 0, 0.15);

  --fontSmall: 1.4rem;
  --fontRegular: 1.6rem;
  --fontMedium: 1.8rem;
  --fontBig: 3.6rem;
  --fontUltra: 4.8rem;

  --weightLight: 300;
  --weightRegAvoid: 400;
  --weightSemiBold: 600;
  --weightBlack: 900;
}
