.boxWrapper {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10rem;
}

.subtitle {
    margin-bottom: 2rem;
}

.option input {
    margin-top: 1rem;
}

.box {
    width: 25.4rem;
    height: 25.4rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: .78rem .87rem;
    align-items: center;
    background-color: #FCFBFB;
    border-radius: 1rem;
    box-shadow: -10px 0px 0px 0px #AAAAAA, -10px 5px 0px #D0D0D0, 0 5px 0px #D0D0D0;
    position: relative;
    margin-right: 4rem;
    cursor: pointer;
    user-select: none;
}

.box .active {
    box-shadow: -10px 0px 0px 0px  var(--durfGreen), -10px 5px 0px #D0D0D0, 0 5px 0px #D0D0D0;
    
}

.box__decoration {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    margin-top: -.78rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #FCFBFB;
    z-index: 0;
}

.box__info{
    z-index: 1;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;   
    display: block;
    justify-self: inherit;
    align-self: flex-end;
    font-weight: var(--weightSemiBold);
    border: solid 2px black;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.box__title{
    z-index: 1;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: var(--weightSemiBold);
    font-size: 2rem;
    text-align: center;
    color: var(--dark);
}

.box__detail{
    z-index: 1;
    margin-bottom: 1rem;
}

.box__placeholder{
    z-index: 1;

}

.box__button{
    z-index: 1;
    margin-top: 2rem;
    height: 4rem;
    padding: 1rem 1.2rem;
    background-color: var(--durfGreen);
    color: var(--light);
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.red{
    background-color: var(--light);
    color: var(--durfRed);
    border: 2px solid var(--durfRed);
}

.articleTitle {
    font-weight: var(--weightBlack);
    font-size: 2.2rem;  
    color: var(--dark);
}

.addOption span{
    color: white;
    font-weight: var(--weightBlack);
    background-color: var(--durfGreen);
    padding: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: .5rem;
}

.addOption {
    cursor: pointer;
    user-select: none;
    width: 100%;
    text-align: center;
    font-weight: var(--weightBlack);
    color: var(--durfGreen);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem
}

.inputWrap {
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-content: center;
    align-items: center;
}
.deleteButton {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--durfRed);
    color: var(--light);
    font-weight: var(--weightBlack);
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.option {
    margin-top: 5rem;
}

.option input {
    border-bottom: 3px solid black;
    font-size: 1.6rem;
    font-family: Montserrat;
}

.multipleChoice {

}

.multipleChoice__list {
    width: 30%;
    list-style: disc;
    margin-left: 3rem;
}

.multipleChoice__list__lastItem {
    list-style: none
}

.requirementsField, .discussionField {
    display: grid;
    grid-template-columns: 10fr 2fr 1fr;
    grid-gap: 1rem;

    justify-content: center;
    align-items: center;
}

.requirements label, .discussionField label{
    margin-top: 1rem;
}

.requirements input, .discussionField input {
    margin-top: 0rem;
}

.discussionField {
    grid-template-columns: 2fr 10fr 1fr;
}