
.wrap {
    background: transparent;
}

.wrap::before {
    content: '';
    width: 38.2rem;
    height: 38.2rem;
    border: 2rem solid var(--durfRed);
    border-radius: 1.5rem;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10rem;
    left: -54rem;
    z-index: -1;
}

.wrap::after {
    content: '';
    background-image: url('/assets/uiElementen/centerPartCreateProject.svg');
    position: absolute;
    width: 24.25rem;
    height: 40rem;
    background-repeat: no-repeat;
    top: 32.5%; 
    bottom: 0;
    right: -22%;
}
.midsection {
    margin-top: 7.5rem;
    padding: 4.4rem 8rem;
    background-color: var(--durfGreen);
    width: 100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    transition: all .3s;
}

.midsection__item {
    max-width: 90%;
}

.projectUser {
    text-transform: capitalize;
}

.tagSelectBox {
    -webkit-appearance: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;


    grid-row: 1;
    grid-column: 1;
    z-index: 0;
}

.budgetInput {
    -webkit-appearance: none;
    margin: 0;
}

.selectWrap {
    display: grid;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.tagSelectBoxButton {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    pointer-events: none;


    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3rem;
    font-family: Montserrat;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagCollection {
    margin-top: 0;
    width: 100%;
    
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    min-height: 9rem;
}

.tag {
    background-color: var(--light);
    padding: .7rem 1rem;
    font-size: 1.6rem;
    height: 3.5rem;
    font-weight: var(--weightSemiBold);
    border-radius: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    cursor:default;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tag p::before {
    content: '#'
}


.tag span, .previewImage span {
    position: absolute;
    top: -1rem;
    right: -.5rem;
    background-color: var(--durfRed);
    color: var(--light);
    border-radius: 1rem;
    padding: .5rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .15s;
}

.tag:hover span, .previewImage:hover span {
    visibility: visible;
    opacity: 1;
    transition: all .15s;
}

.addPicture {
    cursor: pointer;
}

.projectOwner {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50%;
    display: flex;
    flex-flow: column;
}

.projectOwner label:first-of-type {
    margin-top: 1rem;
}

.projectOwner label {
    margin-bottom: 1.5rem;
}

/* Image picker, some css is share with tags */

.imagesWrapper {
    flex-flow: row;
    overflow-y: scroll;
    height: 36rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imagesWrapper p {
    min-width: 42.6rem;
    min-height: 24rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.previewImage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    width: 42.6rem;
    height: 24rem;
    margin-right: 1rem;
}
.previewImage span{
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    font-weight: var(--weightBlack);
    border-radius: 5rem;

}


.option input {
    margin-top: 1rem;
}

.inputWrap {
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-content: center;
    align-items: center;
}
.deleteButton {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--durfRed);
    color: var(--light);
    font-weight: var(--weightBlack);
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.addOption span{
    color: white;
    font-weight: var(--weightBlack);
    background-color: var(--durfGreen);
    padding: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: .5rem;
}

.addOption {
    cursor: pointer;
    user-select: none;
    width: 100%;
    text-align: center;
    font-weight: var(--weightBlack);
    color: var(--durfGreen);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem
}

.dropdown {
    margin-top: 2rem;
    width: 80%;
    font-size: 1.6rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}