.midsection {
    margin-top: 7.5rem;
    padding: 4.4rem 8rem;
    background-color: var(--durfGreen);
    width: 100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    transition: all .3s;
}

.midsection__item {
    max-width: 90%;
}

/* Select box */
.tagSelectBox {
    -webkit-appearance: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;


    grid-row: 1;
    grid-column: 1;
    z-index: 0;
}

.budgetInput {
    -webkit-appearance: none;
    margin: 0;
}

.selectWrap {
    display: grid;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.tagSelectBoxButton {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    pointer-events: none;


    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3rem;
    font-family: Montserrat;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagCollection {
    margin-top: 0;
    width: 100%;
    
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    min-height: 9rem;
}

.tag {
    background-color: var(--light);
    padding: .7rem 1rem;
    font-size: 1.6rem;
    height: 3.5rem;
    font-family: Montserrat-semiBold;
    border-radius: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    cursor:default;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tag p::before {
    content: '#'
}

.tag span {
    position: absolute;
    top: -1rem;
    right: -.5rem;
    background-color: var(--durfRed);
    color: var(--light);
    border-radius: 1rem;
    padding: .5rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .15s;
}

.tag:hover span {
    visibility: visible;
    opacity: 1;
    transition: all .15s;
}