/* .progressbar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2.5rem;
  overflow: auto;
  border-radius: 2rem;
  background-color: purple;
} */

.progressbarContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.progressbarNumbers {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: space-evenly;
}

.progressbarNumber {
  padding: 2rem 0;
  width: 6rem;
  text-align: center;
  font-size: var(--fontMedium);
  background: var(--lightGrey);
  border-radius: 0.5rem;
  font-family: var(--weightSemiboldFont);
  box-shadow: darkgray 0rem 0.4rem;
}

.progressbarNumber.active {
  color: var(--light);
  background: var(--durfGreen);
  box-shadow: var(--durfGreenDarker) 0rem 0.4rem;
}

.progressbarNumber.passed {
  color: var(--durfGreenDarker);
}

.progressbar {
  grid-row: 1;
  grid-column: 1;
  height: 0.5rem;
  border-radius: 0rem;
  width: 100%;
}
.progressbar[value]::-webkit-progress-bar {
  background-color: var(--background);
  border-radius: 0rem;
}

.progressbar[value]::-webkit-progress-value {
  border-radius: 0rem;
  background-color: var(--durfGreen);
}

/* progress {
  -webkit-appearance: none;
  background-color: purple;
  width: 15%;
}

progress::-webkit-progress-bar {
 
  background-color: red;
}
progress::-webkit-progress-value {
 
  background-color: red;
}
progress::-moz-progress-bar {

  background-color: red;
} */
/* 
progress {
  border-radius: 7px;
  width: 80%;
  height: 22px;
  margin-left: -11.5%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: yellow;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: blue;
  border-radius: red;
}
progress::-moz-progress-bar {

} */
