.questionTitle {
  font-size: var(--fontBig);
  font-weight: var(--weightBlack);
  margin: 1rem 0 3.5rem 0;
}

.answers {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.quizButton {
  display: flex;
  flex: 1 1;
  margin: 0 3%;
  flex-flow: column;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
  background: white;
  cursor: pointer;
  align-items: center;
  border-radius: 1rem;
  border: 0.2rem solid darkgray;
  box-shadow: var(--cardShadow);
  background: var(--cardGrey);
}

.quizButton:focus {
  outline: 0.1rem solid #d9d9d9;
  box-shadow: 0 0.45rem #d9d9d9, 0rem 0rem 0 0.6rem #d9d9d9;
}

.quizButtonGrey.active {
  outline: 0.1rem solid var(--durfBlue);
  box-shadow: var(--cardShadow), 0rem 0rem 0 0.6rem var(--durfBlue);
  border-color: var(--durfBlue);
}

.quizButtonOrange.active {
  outline: 0.1rem solid #f59148;
  box-shadow: var(--cardShadow), 0rem 0rem 0 0.6rem #f59148;
  border-color: #f59148;
}

.quizButtonGreen.active {
  outline: 0.1rem solid var(--durfGreen);
  box-shadow: var(--cardShadow), 0rem 0rem 0 0.6rem var(--durfGreen);
  border-color: var(--durfGreen);
}

.quizButtonRed.active {
  outline: 0.1rem solid var(--durfRed);
  box-shadow: var(--cardShadow), 0rem 0rem 0 0.6rem var(--durfRed);
  border-color: var(--durfRed);
}

.quizButtonText {
  font-size: var(--fontMedium);
  font-weight: var(--weightSemiBold);
}
