.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;
}

.green {
    font-size: 2.2rem;
    color: greenyellow;
}

.red {
    color: red;
}