@import "./pages/globalStyles/reset.css";
@import "./pages/globalStyles/vars.css";

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

strong em {
  font-weight: 600;
  font-style: italic;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
body,
html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.invisible__button {
  border: none;
  background: none;
  width: 100%;
  font: inherit;
  text-align: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
  outline: none;
}

body {
  font-size: var(--fontRegular);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
}

a {
  text-decoration: none;
}
