.wrap {
    width: 100%;
    align-items:center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 600px;

    background-color: rgba(0, 0, 0, .2);
    padding-top: 2rem;
    padding-bottom: 2rem;
}